Optify/OptifyClient/Connected Services/WarenverwaltungServiceReference/WarenverwaltungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WarenverwaltungService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55064/WarenverwaltungService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55064/WarenverwaltungService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55064/WarenverwaltungService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Optify" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWarenverwaltungService_alleWarenLaden_InputMessage">
    <wsdl:part name="parameters" element="tns:alleWarenLaden" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_alleWarenLaden_OutputMessage">
    <wsdl:part name="parameters" element="tns:alleWarenLadenResponse" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareOeffnen_InputMessage">
    <wsdl:part name="parameters" element="tns:wareOeffnen" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareOeffnen_OutputMessage">
    <wsdl:part name="parameters" element="tns:wareOeffnenResponse" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareLoeschen_InputMessage">
    <wsdl:part name="parameters" element="tns:wareLoeschen" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareLoeschen_OutputMessage">
    <wsdl:part name="parameters" element="tns:wareLoeschenResponse" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareSpeichern_InputMessage">
    <wsdl:part name="parameters" element="tns:wareSpeichern" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareSpeichern_OutputMessage">
    <wsdl:part name="parameters" element="tns:wareSpeichernResponse" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareHinzufuegen_InputMessage">
    <wsdl:part name="parameters" element="tns:wareHinzufuegen" />
  </wsdl:message>
  <wsdl:message name="IWarenverwaltungService_wareHinzufuegen_OutputMessage">
    <wsdl:part name="parameters" element="tns:wareHinzufuegenResponse" />
  </wsdl:message>
  <wsdl:portType name="IWarenverwaltungService">
    <wsdl:operation name="alleWarenLaden">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarenverwaltungService/alleWarenLaden" message="tns:IWarenverwaltungService_alleWarenLaden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarenverwaltungService/alleWarenLadenResponse" message="tns:IWarenverwaltungService_alleWarenLaden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="wareOeffnen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareOeffnen" message="tns:IWarenverwaltungService_wareOeffnen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareOeffnenResponse" message="tns:IWarenverwaltungService_wareOeffnen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="wareLoeschen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareLoeschen" message="tns:IWarenverwaltungService_wareLoeschen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareLoeschenResponse" message="tns:IWarenverwaltungService_wareLoeschen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="wareSpeichern">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareSpeichern" message="tns:IWarenverwaltungService_wareSpeichern_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareSpeichernResponse" message="tns:IWarenverwaltungService_wareSpeichern_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="wareHinzufuegen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareHinzufuegen" message="tns:IWarenverwaltungService_wareHinzufuegen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarenverwaltungService/wareHinzufuegenResponse" message="tns:IWarenverwaltungService_wareHinzufuegen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWarenverwaltungService" type="tns:IWarenverwaltungService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="alleWarenLaden">
      <soap:operation soapAction="http://tempuri.org/IWarenverwaltungService/alleWarenLaden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wareOeffnen">
      <soap:operation soapAction="http://tempuri.org/IWarenverwaltungService/wareOeffnen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wareLoeschen">
      <soap:operation soapAction="http://tempuri.org/IWarenverwaltungService/wareLoeschen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wareSpeichern">
      <soap:operation soapAction="http://tempuri.org/IWarenverwaltungService/wareSpeichern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wareHinzufuegen">
      <soap:operation soapAction="http://tempuri.org/IWarenverwaltungService/wareHinzufuegen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WarenverwaltungService">
    <wsdl:port name="BasicHttpBinding_IWarenverwaltungService" binding="tns:BasicHttpBinding_IWarenverwaltungService">
      <soap:address location="http://localhost:55064/WarenverwaltungService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>