Optify/OptifyClient/Connected Services/WarenServiceReference/WarenverwaltungService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Optify" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Optify" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ware" nillable="true" type="tns:Ware" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWare" nillable="true" type="tns:ArrayOfWare" />
  <xs:complexType name="Ware">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Preis" type="xs:double" />
      <xs:element minOccurs="0" name="Typ" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ware" nillable="true" type="tns:Ware" />
</xs:schema>