Optify/OptifyClient/Connected Services/BestellungServiceReference/Bestellungverwaltung2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Optify" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Optify" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBestellung">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bestellung" nillable="true" type="tns:Bestellung" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBestellung" nillable="true" type="tns:ArrayOfBestellung" />
  <xs:complexType name="Bestellung">
    <xs:sequence>
      <xs:element minOccurs="0" name="BestellungID" type="xs:int" />
      <xs:element minOccurs="0" name="DatumBestellung" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Preis" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Waren" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bestellung" nillable="true" type="tns:Bestellung" />
</xs:schema>