Optify/OptifyClient/Connected Services/BestellungServiceReference/Bestellungverwaltung1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55064/Bestellungverwaltung.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Optify" />
  <xs:element name="gibBestellungen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gibBestellungenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="gibBestellungenResult" nillable="true" type="q1:ArrayOfBestellung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestellungOeffnen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintBestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestellungOeffnenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="BestellungOeffnenResult" nillable="true" type="q2:Bestellung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestellungBearbeiten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="pBestellung" nillable="true" type="q3:Bestellung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestellungBearbeitenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BestellungStornieren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintBestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestellungStornierenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Bestellungspeichern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="pBestellung" nillable="true" type="q4:Bestellung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestellungspeichernResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>