Optify/OptifyClient/Connected Services/AnmeldungsfunktionServiceReference/Anmeldungsfunktion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55064/Anmeldungsfunktion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Optify" />
  <xs:element name="Einloggen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrBenutzername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrPasswort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EinloggenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="EinloggenResult" nillable="true" type="q1:Benutzer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gibKunde">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="pBen" nillable="true" type="q2:Benutzer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gibKundeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="gibKundeResult" nillable="true" type="q3:Kunde" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gibLieferant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="pBen" nillable="true" type="q4:Benutzer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gibLieferantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="gibLieferantResult" nillable="true" type="q5:Lieferant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gibMitarbeiter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="pBen" nillable="true" type="q6:Benutzer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gibMitarbeiterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Optify" minOccurs="0" name="gibMitarbeiterResult" nillable="true" type="q7:Mitarbeiter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>