Optify/OptifyClient/Connected Services/AnmeldungsfunktionServiceReference/Anmeldungsfunktion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Anmeldungsfunktion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55064/Anmeldungsfunktion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55064/Anmeldungsfunktion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55064/Anmeldungsfunktion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Optify" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAnmeldungsfunktion_Einloggen_InputMessage">
    <wsdl:part name="parameters" element="tns:Einloggen" />
  </wsdl:message>
  <wsdl:message name="IAnmeldungsfunktion_Einloggen_OutputMessage">
    <wsdl:part name="parameters" element="tns:EinloggenResponse" />
  </wsdl:message>
  <wsdl:message name="IAnmeldungsfunktion_gibKunde_InputMessage">
    <wsdl:part name="parameters" element="tns:gibKunde" />
  </wsdl:message>
  <wsdl:message name="IAnmeldungsfunktion_gibKunde_OutputMessage">
    <wsdl:part name="parameters" element="tns:gibKundeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnmeldungsfunktion_gibLieferant_InputMessage">
    <wsdl:part name="parameters" element="tns:gibLieferant" />
  </wsdl:message>
  <wsdl:message name="IAnmeldungsfunktion_gibLieferant_OutputMessage">
    <wsdl:part name="parameters" element="tns:gibLieferantResponse" />
  </wsdl:message>
  <wsdl:message name="IAnmeldungsfunktion_gibMitarbeiter_InputMessage">
    <wsdl:part name="parameters" element="tns:gibMitarbeiter" />
  </wsdl:message>
  <wsdl:message name="IAnmeldungsfunktion_gibMitarbeiter_OutputMessage">
    <wsdl:part name="parameters" element="tns:gibMitarbeiterResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnmeldungsfunktion">
    <wsdl:operation name="Einloggen">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/Einloggen" message="tns:IAnmeldungsfunktion_Einloggen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/EinloggenResponse" message="tns:IAnmeldungsfunktion_Einloggen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gibKunde">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/gibKunde" message="tns:IAnmeldungsfunktion_gibKunde_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/gibKundeResponse" message="tns:IAnmeldungsfunktion_gibKunde_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gibLieferant">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/gibLieferant" message="tns:IAnmeldungsfunktion_gibLieferant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/gibLieferantResponse" message="tns:IAnmeldungsfunktion_gibLieferant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gibMitarbeiter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/gibMitarbeiter" message="tns:IAnmeldungsfunktion_gibMitarbeiter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnmeldungsfunktion/gibMitarbeiterResponse" message="tns:IAnmeldungsfunktion_gibMitarbeiter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAnmeldungsfunktion" type="tns:IAnmeldungsfunktion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Einloggen">
      <soap:operation soapAction="http://tempuri.org/IAnmeldungsfunktion/Einloggen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gibKunde">
      <soap:operation soapAction="http://tempuri.org/IAnmeldungsfunktion/gibKunde" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gibLieferant">
      <soap:operation soapAction="http://tempuri.org/IAnmeldungsfunktion/gibLieferant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gibMitarbeiter">
      <soap:operation soapAction="http://tempuri.org/IAnmeldungsfunktion/gibMitarbeiter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Anmeldungsfunktion">
    <wsdl:port name="BasicHttpBinding_IAnmeldungsfunktion" binding="tns:BasicHttpBinding_IAnmeldungsfunktion">
      <soap:address location="http://localhost:55064/Anmeldungsfunktion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>